/* Загальний стиль для сторінки */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Заголовки */
h1, h2, h4 {
    font-weight: bold;
    color: #222;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

/* Навігаційна панель */
.navbar {
    height: 75px; /* Збільшена висота */
}

.navbar-brand {
    font-size: 1.8rem; /* Збільшений розмір тексту бренду */
}

.nav-link {
    font-size: 1.2rem; /* Збільшений розмір тексту посилань */
    padding: 10px 15px; /* Збільшені відступи для кращого вигляду */
}

/* Головний блок */
header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    padding: 50px 0;
}

header img {
    max-width: 200px;
    height: auto;
}

/* Карусель */
.carousel-inner img {
    width: 100%; /* Займає всю ширину контейнера */
    height: 400px; /* Фіксована висота для всіх зображень */
    object-fit: cover; /* Обрізає зображення, щоб воно помістилося в задані розміри */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

/* Стиль для таблиці функціональних тестів */
.table {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
}

.table thead th {
    text-align: center;
}

.table tbody td {
    text-align: center;
}
/* Стиль для блоків-експандерів */
.expander-block {
    background-color: #28a745; /* Зелений фон */
    color: white; /* Білий текст */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px; /* Закруглені кути */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тінь */
    cursor: pointer; /* Зміна курсору */
    width: 80%; /* Ширина блоку */
    transition: transform 0.3s, background-color 0.3s; /* Плавна анімація */
}

.expander-block:hover {
    background-color: #218838; /* Темніший зелений при наведенні */
    transform: scale(1.05); /* Легке збільшення при наведенні */
}
/* Футер */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
}